/* General Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #f0f0f0;
}

header {
  background-color: #333;
  color: #f0f0f0;
  padding: 20px;
  text-align: center;

  max-height: 15vh;
}

main {
  padding: 20px;
}

#setlistContainer {
  max-width: 600px;
  margin: 0 auto;
}

#setlistContainer ul {
  list-style: none;
  padding: 0;
}

.setlistContainerClass {
  margin-top: 2em;
}

.setlist-item {
  background: #444;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setlist-item .song {
  font-weight: bold;
}

.setlist-item .artist {
  font-style: italic;
  color: #ccc;
}

* {
  text-align: center;
}

/* Responsive Design */
@media (max-width: 600px) {
  .setlist-item {
    flex-direction: column;
    align-items: center;
  }
}
